.cart-icon {
	width: 45px;
	height: 45px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s linear;

	&:hover,
	&:focus {
		outline: none;
		transform: scale(1.3, 1.3);
	}

	.shopping-icon {
		width: 24px;
		height: 24px;
	}

	.item-count {
		font-size: 12px;
		font-weight: bold;
		position: absolute;
		top: 17px;
	}
}
