@mixin hover-state {
	outline: none;
	border-bottom: 2px solid black;
	transform: scale(1.1, 1.1);
}
@mixin transition {
	transition: transform 0.2s linear;
}

.checkout-item {
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	padding: 15px 0;
	border-bottom: 1px solid darkgrey;
	font-size: 20px;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;

	img {
		width: 100%;
		height: 100%;
		padding-right: 10px;
	}

	.price,
	.name {
		margin: 0 auto;
	}

	.quantity {
		margin: 0 auto;
		display: flex;
		@include transition;

		&:focus {
			@include hover-state;
		}

		.arrow {
			cursor: pointer;
			@include transition;

			&:hover {
				@include hover-state;
			}
		}

		.value {
			margin: 0 10px;
		}
	}

	.remove-button {
		font-size: 1em;
		margin-left: auto;
		cursor: pointer;
		@include transition;

		&:hover,
		&:focus {
			@include hover-state;
		}
	}
}
