* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed';

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin: 0;
	padding: 20px 40px;

	@media screen and (max-width: 800px) {
		padding: 10px;
	}
}

a {
	text-decoration: none;
	color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
