.collection-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		font-size: 38px;
		margin: 0 auto 30px;
	}

	.items {
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 5% 3%;

		& .collection-item {
			width: 100%;
		}

		@media screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
