.checkout-page {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto;

	@media screen and (max-width: 800px) {
		width: 80%;
	}

	article {
		min-width: 100%;
	}

	.checkout-header {
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid darkgrey;
		display: grid;
		grid-template-columns: repeat(5, 1fr);

		span {
			text-transform: capitalize;
			margin: 0 auto;

			&:first-child {
				margin: 0 auto 0 0;
			}

			&:last-child {
				margin: 0 0 0 auto;
			}
		}
	}

	.total {
		margin-top: 30px;
		text-align: right;
		font-size: 36px;
	}

	.pay-section {
		width: 100%;
		display: flex;
		flex-direction: column;

		.test-warning {
			text-align: center;
			margin-top: 40px;
			font-size: 24px;
			color: rgb(194, 2, 2);
		}

		button {
			align-self: flex-end;
		}
	}
}
