.collection-preview {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;

	@media screen and (max-width: 800px) {
		align-items: center;
	}

	.title {
		font-size: 28px;
		margin-bottom: 25px;
		transition: transform 0.5s;

		&:hover {
			border-bottom: 2px solid black;
			transform: scale(1.2);
			cursor: pointer;
		}
	}

	.preview {
		display: flex;
		justify-content: space-between;
		width: 90%;

		@media screen and (max-width: 800px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 15px;
		}
	}
}
