.sign-page {
	width: 850px;
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 920px) {
		width: 100%;
	}

	@media screen and (max-width: 865px) {
		width: 90%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: fit-content fit-content;
		row-gap: 80px;
	}
}
